# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# React frontend
emp-frontend/node_modules/
emp-frontend/dist/
dist-ssr/
*.local

# Spring Boot backend
emp_backend/target/
emp_backend/.idea/
emp_backend/*.iml

# IDE files
.vscode/
.idea/

# OS files
desktop.ini
.DS_Store

# Other files
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?